<section class='all-businesses'>
  <% @businesses.each do |business| %>
    <section class='business'>
      <div class='business-name'>
        <h3><%=business.name%></h3>
      </div>
      <div class='business-info'>
        <h4>Location: <%=business.location%></h4>
        <h4>Category: <%=business.category%></h4>
      </div>
      <div class='business-images'>
        <% business.images.each do |image| %>
         <div>
           <img src="#" alt=''/>
         </div>
        <% end %>
      </div>
    </section>
  <% end %>

</section>
