<h1><%= @owner.first_name %></h1>

<h4>Bio: <%= @owner.description %></h4>


 <% if @owner.id != current_user.id %>
     <div class=”item”>
   <%= @owner.first_name %> <%= link_to "Message me!", conversations_path(sender_id: current_user.id, recipient_id: @owner.id), method: "post"%>
 </div>
  <% end %>
