<div id="status-update">
    <h3>Updates on @business.name from @business.owner.name</h3>
    <% @status_update.description %>
     <% @status_update.percentage_revenue_increase %>

    <div class='status-update-images'>
    <% @status_update.photos.each do |photo| %>
     <div>
       <%=image_tag photo.image.url(:square) %>
     </div>
    <% end %>
  </div>

  <% if current_user == user %>
    <%= link_to 'new_business_status_update_path %>

</div>