
<div class= "progress-box">
<%= image_tag("stairs.jpg", :alt => "rss feed", class: "stairs") %>
<h1 class="title">Contribution to the World</h1>
</div>

<div class= "report">

<hr>
<h1 class= "intro-title">Our Businesses</h1>
<p class= "intro">We value the work of our developers, as we do the progress of the businesses they connect with. We ask that every business submits bi-monthly updates that help us help them pay it forward. We compile the data from those businesses to track the progress and positive change ignited by our community.</p>


<%= image_tag("infographic", :alt => "rss feed", class: "office") %>

</div>