.star-ratings-css {
  display: inline-block;
  left: 5%;
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 20px;
  height: 20px;
  width: 80px;
  margin: 0 auto;
  position: relative;
}

.star-ratings-css-top {
  color: #ff4448;
  padding: 0;
  position: absolute;
  z-index: 1;
  display:block;
  left: 0px;
  overflow: hidden;
}
.star-ratings-css-bottom { z-index: 0; }

#review-box {
  margin: 10px;
  border: solid;
  border-width: 1px;
  width: 45%;
}

h5 {
  margin: 5px;
}

.info, .business-images, .business-location {
  text-align: center;
  margin: 0 5em;
  padding: 0;
  background-color: #f9f9f9;
}

p {
  margin: 5px;
}
