.developer-showcase {
  min-height: 50vh;
  background-color: rgba(0, 0, 0, 0.81);
}

.developer-item {
  display: flex;
  margin-right: 10em;
  margin-left: 5em;
}

.inner-items {
  align-self: center;
   border-radius: 50%;
     flex: 0;
}

.name-item {
  align-self: baseline;
  text-align: center;
}


.all-businesses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.business {
  width: 25%;
  margin: 3%;
  border-style: ridge;
  flex: auto;
   border-radius: 10%;
}

.business-images {
  border-radius: 10%;
}


.projects-container{
  background-color: #fff;
}
.project-box {
  background-color: rgba(51, 46, 46, 0.1);
  border-radius: 5%;
  margin: 2em;
  padding: 2em;
}

.info {
    display: flex;
  flex-wrap: wrap;
   background-color: rgba(51, 46, 46, 0.1);
   margin-bottom: 5em;
   padding: 2em;
   border-radius: 10%;
}

h3 .titles {
  font-size: 3em;
  font-weight: bold;
}
.business-images {
  background-color: #fff;
}

.biz-pic {
  border-radius: 10%;
}
