.developer-showcase {
  margin-top: 15px;
  min-height: 50vh;
  background-color: #f9f9f9;
  margin-left: 4em;
}

.developer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.inner-items {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.name-item {
  display: flex;
  flex-direction: column;
  jusify-content: center;
  align-content: space-around;
}


.all-businesses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.business {
  width: 25%;
  margin: 3%;
  flex: auto;
}

.business-images{
  margin: 0 auto;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: #f9f9f9;
  padding-top: 20px;
}

.biz-box{
  text-align: center;

}

.business-show-images{
  width: 400px;
  height: 400px;
}

.business-name, .business-info {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  background-color: #f9f9f9;
  padding-bottom: -1em;
}

.projects-container{
  background-color: #f9f9f9;
}

.project-box {
  background-color: #f9f9f9;
  border-radius: 5%;
  margin: 2em;
  padding: 2em;
  border-width:5px;
  border-style:outset;
}

h3  {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
}

h4 {
  font-size: 1em;
  margin-top: 0;
}

h5 {
  font-size: 0.8em;
}

.biz-pic {
  display: flex;
  width: 90%;
}

.captions {
  bottom: 50%;
  position: absolute;
  font-size: 80px;
  color: #f9f9f9;
  text-align: center;
}

.slick-arrow {
  background-color: #f9f9f9;
}

.title {
  position: absolute;
  top: 15%;
  width: 100%;
  font-size: 3em;
  color: white;
  text-align: center;
}

.tag-line {
  position: absolute;
  top: 6%;
  width: 100%;
  text-transform: uppercase;
  font-size: 5em;
  color: white;
  text-align: center;
}


.progress-box {
 position: relative;
   width: 100%;
}

.stairs {
width: 100%;

}

.office {
  width: 90%;
}

.intro {
  font-weight: bold;
  margin-bottom: 3em;
}

.intro-title {
  font-weight: bolder;
  font-size: 3em;
}

.report {
  margin: 2em;
}

.ipad {
  height: 30%;
  width: 100%;
  opacity: 0.8;
}

ul.slick-dots {
  margin-bottom: 5%;
}

.dev-title{
  position: absolute;
  top: 20%;
  left: 10%;
  width: 85%;
  font-size: 4em;
  color: white;
  background-color: rgba(3, 10, 16, 0.35);
  text-align: center;
  word-spacing: 10px;
}


.dev-topbox {
  margin: 2em;
}



.status-container{
  background-color: #f9f9f9;
}

.status-box {
  background-color: #f9f9f9;
  border-radius: 5%;
  margin: 2em;
  padding: 2em;
  border-width:5px;
  border-style:outset;
}
