.developer-showcase {
  margin-top: 15px;
  min-height: 50vh;
  background-color: #f9f9f9;
  margin-left: 4em;
}

.developer-item {
  display: flex;
  margin-right: 10em;
  margin-left: 5em;
}

.inner-items {
  align-self: center;
  border-radius: 50%;
  flex: 0;
}

.name-item {
  align-self: baseline;
  text-align: center;
}


.all-businesses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.business {
  width: 25%;
  margin: 3%;
  flex: auto;
}

.business-images{
  margin: 0 auto;
  text-align: center;
  width: 80%;
  background-color: #f9f9f9;
  padding-top: 20px;
}

.business-name, .business-info {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  background-color: #f9f9f9;
  padding-bottom: -1em;
}

.projects-container{
  background-color: #f9f9f9;
}

.project-box {
  background-color: #f9f9f9;
  border-radius: 5%;
  margin: 2em;
  padding: 2em;
  border-width:5px;
  border-style:outset;
}

h3  {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
}

h4 {
  font-size: 1em;
  margin-top: 0;
}

h5 {
  font-size: 0.8em;
}

.biz-pic {
  display: flex;
  width: 90%;
}

.captions {
  bottom: 50%;
  position: absolute;
  font-size: 80px;
  color: #f9f9f9;
  text-align: center;
}

.slick-arrow {
  background-color: #f9f9f9;
}

.title {
  position: absolute;
  top: 100px;
  left: 15%;
  width: 100%;
  font-size: 5em;
  color: white;
  }

.progress-box {
 position: relative;
   width: 100%;
  }

.stairs {
width: 100%;

}

.office {
  width: 90%;
}

.intro {
  font-weight: bold;
  margin-bottom: 3em;
}

.intro-title {
  font-weight: bolder;
  font-size: 3em;
}

.report {
  margin: 2em;
}

.ipad {
  height: 30%;
  width: 100%;
  opacity: 0.8;
}

.dev-title{
   position: absolute;
   top: 400px;
   left: 10%;
   width: 85%;
   font-size: 5em;
   color: white;
  background-color: rgba(3, 10, 16, 0.35);
}

.dev-title2{
   position: absolute;
   top: 600px;
   left: 12%;
   width: 70%;
   font-size: 5em;
   color: white;
    background-color: rgba(3, 10, 16, 0.4);
    text-align: center;
}

.dev-topbox {
  margin: 2em;
}