.facebook-button {
    background: #3b5998;
    border: 0.01rem solid #ffffff;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 0.7rem;
	font-weight: bold;
	height: 2.2rem;
	letter-spacing: 0.1rem;
	line-height: 2.2rem;
	padding: 0 1rem;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	margin-bottom: 1em;
	margin-top: -1em;
  }

 .logo-button{
    height: 2.2rem;
    width: 2.2rem;
 }

 .github-button {
    background: #000000;
    border: 0.01rem solid #ffffff;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 0.7rem;
	font-weight: bold;
	height: 2.2rem;
	letter-spacing: 0.1rem;
	line-height: 2.2rem;
	padding: 0 1rem;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	margin-bottom: 1em;
	margin-top: -1em;
  }